/AulaDaniel/Lista08/mavenproject1/target/
/AulaDaniel/Lista08/Ex02/Ex02/nbproject/private/
/AulaDaniel/Lista08/Ex02/Ex02/build/
/AulaDaniel/Lista08/Ex02/Aula29-5/nbproject/private/
/AulaDaniel/Lista08/Ex02/Lista-03/nbproject/private/
/AulaDaniel/Lista08/Ex_03/nbproject/private/
/AulaDaniel/Lista_09/Ex01/nbproject/private/
/AulaDaniel/Lista_09/Ex01/build/
